@model IDictionary<string, string>?
@using Memtly.Core.Constants
@using Memtly.Core.Extensions

@if (Model != null && Model.Any())
{
    <div class="setting-section">
        <h5 class="mb-3">@_localizer["Custom_Theme"].Value</h5>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Navbar_Title_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#282828" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.NavbarText" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.NavbarText.ToUpper(), "#282828")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.NavbarText.ToUpper(), "#282828")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Navbar_Title_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Navbar_Background_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#FFFFFF" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.NavbarBackground" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.NavbarBackground.ToUpper(), "#FFFFFF")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.NavbarBackground.ToUpper(), "#FFFFFF")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Navbar_Background_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Background_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#FFFFFF" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Background" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Background.ToUpper(), "#FFFFFF")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Background.ToUpper(), "#FFFFFF")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Background_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_One_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#1D4ED8" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary1" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary1.ToUpper(), "#1D4ED8")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary1.ToUpper(), "#1D4ED8")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_One_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Two_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#2563EB" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary2" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary2.ToUpper(), "#2563EB")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary2.ToUpper(), "#2563EB")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Two_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Three_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#3B82F6" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary3" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary3.ToUpper(), "#3B82F6")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary3.ToUpper(), "#3B82F6")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Three_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Secondary_One_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#6366F1" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Secondary1" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary1.ToUpper(), "#6366F1")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary1.ToUpper(), "#6366F1")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Secondary_One_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Secondary_Two_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#818CF8" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Secondary2" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary2.ToUpper(), "#818CF8")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary2.ToUpper(), "#818CF8")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Secondary_Two_Color_Help"].Value</div>
            </div>
        </div>

        @* <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Danger_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#EF4444" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Danger" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Danger.ToUpper(), "#EF4444")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Danger.ToUpper(), "#EF4444")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Danger_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Disabled_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#969696" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Disabled" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Disabled.ToUpper(), "#969696")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Disabled.ToUpper(), "#969696")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Disabled_Color_Help"].Value</div>
            </div>
        </div> *@
    </div>
}