@model IDictionary<string, string>?
@using Memtly.Core.Constants
@using Memtly.Core.Extensions

@if (Model != null && Model.Any())
{
    <div class="setting-section">
        <h5 class="mb-3">@_localizer["Colour_Overrides"].Value</h5>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Enabled"].Value</label>
                <select class="setting-field form-control" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Enabled">
                    @foreach (var option in ViewOptions.YesNo)
                    {
                        if (Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Enabled.ToUpper(), "false").Equals(option.Value, StringComparison.OrdinalIgnoreCase))
                        {
                            <option value="@option.Value" selected="selected">@option.Key</option>
                        }
                        else
                        {
                            <option value="@option.Value">@option.Key</option>
                        }
                    }
                </select>
                <div class="setting-hint form-text">@_localizer["Settings_Themes_ColourOverrides_Enabled_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Navbar_Title_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#282828" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Navbar.Text" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Navbar.Text.ToUpper(), "#282828")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Navbar.Text.ToUpper(), "#282828")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Navbar_Title_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Navbar_Background_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#FFFFFF" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Navbar.Background" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Navbar.Background.ToUpper(), "#FFFFFF")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Navbar.Background.ToUpper(), "#FFFFFF")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Navbar_Background_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Text_One_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#FFFFFF" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary1.Text" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary1.Text.ToUpper(), "#FFFFFF")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary1.Text.ToUpper(), "#FFFFFF")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Text_One_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Background_One_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#2563eb" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary1.Background" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary1.Background.ToUpper(), "#2563eb")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary1.Background.ToUpper(), "#2563eb")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Background_One_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Background_One_Color_Label"].Value (@_localizer["Hover"].Value)</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#1d4ed8" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary1.Hover" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary1.Hover.ToUpper(), "#1d4ed8")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary1.Hover.ToUpper(), "#1d4ed8")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Background_One_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Text_Two_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#FFFFFF" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary2.Text" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary2.Text.ToUpper(), "#FFFFFF")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary2.Text.ToUpper(), "#FFFFFF")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Text_Two_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Background_Two_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#3b82f6" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary2.Background" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary2.Background.ToUpper(), "#3b82f6")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary2.Background.ToUpper(), "#3b82f6")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Background_Two_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Background_Two_Color_Label"].Value (@_localizer["Hover"].Value)</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#2563eb" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary2.Hover" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary2.Hover.ToUpper(), "#2563eb")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary2.Hover.ToUpper(), "#2563eb")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Background_Two_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Text_Three_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#FFFFFF" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary3.Text" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary3.Text.ToUpper(), "#FFFFFF")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary3.Text.ToUpper(), "#FFFFFF")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Text_Three_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Background_Three_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#60a5fa" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary3.Background" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary3.Background.ToUpper(), "#60a5fa")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary3.Background.ToUpper(), "#60a5fa")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Background_Three_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Primary_Background_Three_Color_Label"].Value (@_localizer["Hover"].Value)</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#3b82f6" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Primary3.Hover" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary3.Hover.ToUpper(), "#3b82f6")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Primary3.Hover.ToUpper(), "#3b82f6")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Primary_Background_Three_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Secondary_Text_One_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#FFFFFF" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Secondary1.Text" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary1.Text.ToUpper(), "#FFFFFF")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary1.Text.ToUpper(), "#FFFFFF")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Secondary_Text_One_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Secondary_Background_One_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#6366f1" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Secondary1.Background" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary1.Background.ToUpper(), "#6366f1")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary1.Background.ToUpper(), "#6366f1")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Secondary_Background_One_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Secondary_Background_One_Color_Label"].Value (@_localizer["Hover"].Value)</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#4f46e5" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Secondary1.Hover" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary1.Hover.ToUpper(), "#4f46e5")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary1.Hover.ToUpper(), "#4f46e5")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Secondary_Background_One_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Secondary_Text_Two_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#FFFFFF" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Secondary2.Text" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary2.Text.ToUpper(), "#FFFFFF")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary2.Text.ToUpper(), "#FFFFFF")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Secondary_Text_Two_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Secondary_Background_Two_Color_Label"].Value</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#818cf8" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Secondary2.Background" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary2.Background.ToUpper(), "#818cf8")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary2.Background.ToUpper(), "#818cf8")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Secondary_Background_Two_Color_Help"].Value</div>
            </div>
        </div>

        <div class="row mb-4 mb-lg-4 setting-container">
            <div class="col-12">
                <label class="setting-label">@_localizer["Secondary_Background_Two_Color_Label"].Value (@_localizer["Hover"].Value)</label>
                <div class="input-group form-color-picker-group">
                    <input type="text" class="setting-field form-control form-control-text" placeholder="#6366f1" data-setting-name="@MemtlyConfiguration.Themes.ColourOverrides.Secondary2.Hover" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary2.Hover.ToUpper(), "#6366f1")" />
                    <input type="color" class="form-control form-control-color" value="@Model.GetValue(MemtlyConfiguration.Themes.ColourOverrides.Secondary2.Hover.ToUpper(), "#6366f1")" title="@_localizer["Choose_Your_Color"].Value" />
                </div>
                <div class="setting-hint form-text">@_localizer["Secondary_Background_Two_Color_Help"].Value</div>
            </div>
        </div>
    </div>
}