@model IDictionary<string, string>?
@using Memtly.Core.Constants

@if (Model != null && Model.Any())
{
    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Trackers_UmamiEndpoint_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Trackers.Umami.Endpoint" placeholder="https://umami.your-domain.com/" value="@Model.GetValue(Trackers.Umami.Endpoint.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Trackers_UmamiEndpoint_Help"].Value</div>
        </div>
    </div>

    <div class="row mb-4 mb-lg-4 setting-container">
        <div class="col-12">
            <label class="setting-label">@_localizer["Settings_Trackers_UmamiWebsiteId_Label"].Value</label>
            <input class="setting-field form-control" data-setting-name="@Trackers.Umami.WebsiteId" placeholder="00000000-0000-0000-0000-000000000000" value="@Model.GetValue(Trackers.Umami.WebsiteId.ToUpper(), string.Empty)" type="text" />
            <div class="setting-hint form-text">@_localizer["Settings_Trackers_UmamiWebsiteId_Help"].Value</div>
        </div>
    </div>
}